<div class="container">

  <form action="/filter" method="get">
    <div class="filter d-flex">
      {{!-- 年份 --}}
      <div class="input-group mb-3">
        <label for="filter-year">年份</label>
        <select class="form-control" id="filter-year" name="years" onchange="form.submit()">
          <option>
            {{#if yearSelected}} {{yearSelected}}{{else}}2020
            {{/if}}
          </option>
          {{#each years}}
          <option value={{this.year}}>
            {{this.year}}
          </option>
          {{/each}}
        </select>
      </div>

      {{!-- month --}}
      <div class="input-group mb-3 ml-2 mr-2">
        <label for="filter-month">月份</label>
        <select class="form-control" id="filter-month" name="months" onchange="form.submit()">
          <option {{#if monthSelected}}value={{monthSelected}}{{/if}}>
            {{#if monthSelected}}{{monthSelected}}{{else}}全部
            {{/if}}
          </option>
          <option value="全部">全部</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>
      {{!-- category --}}
      <div class="input-group mb-3">
        <label for="filter-category">類別</label>
        <select class="form-control" id="filter-category" name="categories" onchange="form.submit()"
          style="display: inline;">
          <option {{#if categorySelected}}value={{categorySelected}}{{/if}}>
            {{#if categorySelected}} {{categorySelected}}{{else}}全部
            {{/if}}
          </option>
          <option value="全部">全部</option>

          {{#each categories}}
          <option value={{this.category}}>
            {{this.category}}
          </option>
          {{/each}}
        </select>
      </div>

    </div>
  </form>


  <div class=" totalAmount">
    <h3>總金額:{{totalAmount}}</h3>
    <h2></h2>
    {{!--  --}}
  </div>

  <ul class="list-group">
    {{#if noFoundMessage}}
    <div>
      <h1>{{noFoundMessage}}</h1>
    </div>
    {{/if}}
    {{#each renderData}}

    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto d-flex">
          <div class="left-description d-flex">
            <div class="{{this.icon}}"></div>
            <div class="content">
              <div class="name">{{this.name}}</div>
              <div>
                <div class="date" style="display:inline;">{{this.date}}</div>
                <div class=" merchant" style="display:inline;">{{this.merchant}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="amount col-auto ">{{this.amount}}</div>

        <div class="col-auto">
          <div class="input-group-append">
            <a class="btn" href="/expense/edit/{{this._id}}"><i class="fas fa-edit"></i></a>
            <a href="" class="btn" data-toggle="modal" data-target="#delete{{this._id}}" style="display:inline;"><i
                class="fas fa-trash-alt"></i></a>
          </div>
        </div>
      </div>
    </li>
    {{!-- modal of delete --}}
    <div class="modal" id="delete{{this._id}}" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>確定刪除『{{this.name}}』嗎?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <form action="/expense/{{this._id}}?_method=delete" method="POST">
              <button type="submit" class="btn btn-primary">確定</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </ul>

  <a class="btn btn-danger mt-2" href="/expense/new">新增費用</a>

</div>