<div class="container">
  <div class="input-group mb-3">
    <select class="form-control" id="filter-category" name="category" onchange="submit()">
      <option selected>類別</option>
      {{#each categories}}
      <option value="{{this.category}}">{{this.category}}</option>
      {{/each}}
    </select>
    {{!-- value 待放入seeder的資料 --}}
  </div>

  <div class=" totalAmount">
    <h3>總金額:</h3>
    <h2></h2>
    {{!--  --}}

  </div>

  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto d-flex">
          <div class="left-description d-flex">
            <div class="img">img</div>
            <div class="content">
              <div class="name">{{this.name}}</div>
              <div class="date">{{this.date}}</div>
            </div>
          </div>
        </div>
        <div class="amount col-auto ">{{this.amount}}</div>

        <div class="col-auto">
          <div class="input-group-append">
            <a href="/expense/edit/{{this._id}}">編輯</a>
            <button data-toggle="modal" data-target="#delete{{this._id}}" style="display:inline;">刪除</button>
          </div>
        </div>
      </div>
    </li>
    {{!-- modal of delete --}}
    <div class="modal" id="delete{{this._id}}" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>確定刪除『{{this.name}}』嗎?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <form action="/expense/{{this._id}}?_method=delete" method="POST">
              <button type="submit" class="btn btn-primary">確定</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    {{/each}}
  </ul>

  <a class="btn btn-danger" href="/expense/new">新增費用</a>
</div>